#logo-img {
    height: 100%;
    display: inline-block;
}

.navbar-inverse {
    background: #0a64eb none;
}

.navbar-inverse a {
    color: #fff !important;
}

.navbar-inverse a:hover {
    color: #c0c0c0 !important;
}

#content {
    margin: auto;
    width: 90%;
    padding: 10px;
}

#header {
    border-radius: 0;
}
