#tweets-panel{
    display: inline-block;
}

#tweets-panel .row {
    margin-top: 20%;
}

.tweet-content {
    display: inline-block;
    vertical-align: top;
}

.user-name {
    font-weight: 700;
}

