#usersPanel {
    display: inline-block;
    vertical-align: top;
}

.userInfo {
    text-align: center;
}

#followingPanel {
    border: 5px solid #e6e6e6;
    border-radius: 5px;
    text-align: center;
}


.user-name, .user-option {
    margin-top: 20%;
}