#logo-img {
    height: 100%;
    display: inline-block;
}

.navbar-inverse {
    background: #0a64eb none;
}

.navbar-inverse a {
    color: #fff !important;
}

.navbar-inverse a:hover {
    color: #c0c0c0 !important;
}

#content {
    margin: auto;
    width: 90%;
    padding: 10px;
}

#header {
    border-radius: 0;
}

.failed {
    background-color: rgb(251, 187, 185);
}

.passed {
    background-color: #9efda2;
}

.testGroup {
    padding: 5px;
    margin: 10px auto;
}

.assert {
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
}