#tweets-panel{
    display: inline-block;
}

#tweets-panel .row {
    margin-top: 10px;
}

.tweet-content {
    display: inline-block;
    vertical-align: top;
}

.user-name {
    font-weight: 700;
}

.user-img {
    padding-right: 8px;
}
